i{
    font-size: 4rem;
    
    color: rgba(52, 116, 244, 0.8);
}
a{
  text-decoration: none;
  color: white;
}
.card-text{
    color: grey;
}
h3{
  font-weight: 500!important;
}
.bg-lightblue
{
    background-color: rgb(243 244 255 );
}
.primary-color{
    color:blue;
    font-weight: bold;

}
.cn-bg{
  background-color: #ecf0f1;
}
.hero-section {
  min-height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn:hover{
  color:white;
 
}
.bg-blue{
  background-color: rgb(10, 10, 43);

}
.navbar{
  height: 7rem;
 
}
.nav-link{
  font-size: 1.5rem;
  
  font-weight: 500;
}

.bg-cover {
  background-image: url();
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.navbar-brand>img{
  width: 13rem;
  color: #45a049;

}
input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 4px; /* Some padding */ 
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */

    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
  }
  
  /* Style the submit button with a specific background color etc */
  input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  /* When moving the mouse over the submit button, add a darker green color */
  input[type=submit]:hover {
    background-color: #45a049;
  }
  
  /* Add a background color and some padding around the form */
  .bg-grey {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 50px;
  }
  .bi-envelope{
    font-size: 2rem;
  }
  .p-absolute{
    position:absolute;
  }
  .cl-img{
    width: 100%;
  }
  .bi-droplet-half{
    color: #0052D4;
  }
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(255, 255, 235, 0.863), rgba(255, 246, 193, 0.7));
    z-index: -1;
}

.accordion {
  background-color: #fff;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
}

.active, .accordion:hover {
  background-color: #ccc;
}

.about{
  /* background-image: url(./images/me.jpeg);
  height: 100vh; */
  
   background: linear-gradient(to top, #3f2b96, #a8c0ff); 
   /* background: linear-gradient(to Bottom,#fff, #fff,#a8c0ff); */

   } 

  .accordion:after {
  content: '\002B';
  color: #777;
  font-size: 20px;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.w1-img{
  max-width: 500px;
  /* overflow: hidden; */
  margin-left: 800px;
 
  
}
.active:after {
  content: "\2212";
}

.panel {
  padding: 0 18px;
  background-color: #dfe6e9;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.hsl:hover{
color:#0d6efd!important;
/* background-color: #dfe6e9 ; */

/* margin: 0px; */
  /* border-radius: 8px; */
  
}





    /* footer css */
    h2 {  
      padding: 25px 0;  
      text-align: center;  
      color: #fff;  
      background: #7c8490;  
      }  
      footer {  
       background: rgb(10,10, 43);  
        color: white;  
        margin-top:100px;  
      }  
      footer a {  
        color: #fff;  
        font-size: 14px;  
        transition-duration: 0.2s;  
      }  
      footer a:hover {  
        color: #FA944B;  
        text-decoration: none;  
      }  
      .copy {  
        font-size: 12px;  
        padding: 10px;  
        border-top: 1px solid #FFFFFF;  
      }  
      .footer-middle {  
        padding-top: 2em;  
        color: white;  
      }  
      ul.social-network {  
        list-style: none;  
        display: inline;  
        margin-left: 0 !important;  
        padding: 0;  
      }  
      ul.social-network li {  
        display: inline;  
        margin: 0 5px;  
      }  
        
      .social-network a.icoFacebook:hover {  
        background-color: #3B5998;  
      }  
      .social-network a.icoLinkedin:hover {  
        background-color: #007bb7;  
      }  
      .social-network a.icoFacebook:hover i  
      {  
        color: #fff;  
      }  
      .social-network a.icoLinkedin:hover i {  
        color: #fff;  
      }  
      .social-network a.socialIcon:hover {  
        color: #44BCDD;  
      }  
      .socialHoverClass {  
        color: #44BCDD;  
      }  
      .social-circle li a {  
        display: inline-block;  
        position: relative;  
        margin: 0 auto 0 auto;  
        -moz-border-radius: 50%;  
        -webkit-border-radius: 50%;  
        border-radius: 50%;  
        text-align: center;  
        width: 30px;  
        height: 30px;  
        font-size: 15px;  
      }  
      .social-circle li i {  
        margin: 0;  
        line-height: 30px;  
        text-align: center;  
      }  
      .social-circle li a:hover i  
      {  
        -moz-transform: rotate(360deg);  
        -webkit-transform: rotate(360deg);  
        -ms--transform: rotate(360deg);  
        transform: rotate(360deg);  
        -webkit-transition: all 0.2s;  
        -moz-transition: all 0.2s;  
        -o-transition: all 0.2s;  
        -ms-transition: all 0.2s;  
        transition: all 0.2s;  
      }  
      .triggeredHover {  
        -moz-transform: rotate(360deg);  
        -webkit-transform: rotate(360deg);  
        -ms--transform: rotate(360deg);  
        transform: rotate(360deg);  
        -webkit-transition: all 0.2s;  
        -moz-transition: all 0.2s;  
        -o-transition: all 0.2s;  
        -ms-transition: all 0.2s;  
        transition: all 0.2s;  
      }  
      .social-circle i {  
        color: #595959;  
        -webkit-transition: all 0.8s;  
        -moz-transition: all 0.8s;  
        -o-transition: all 0.8s;  
        -ms-transition: all 0.8s;  
        transition: all 0.8s;  
      }  
      .social-network a {  
        background-color: #F9F9F9;  
      }  
      .social-network a:hover {  
      background: blue;  
      }  
      .bg-ml{
        background-color: white;
      }

     


    .bgcolor.scrolled{
  background-color: white;
    }












.carousel-item {
  max-width: 100%;
}


@media screen and (max-width: 992px) {
  .pag2text {
  align-items: center;
  }
}





      .flg{
        display: flex;
    }
    .mgh{
        width: 40%;
    }
    .th{
        width: 60%;
    }
    .jp{
        width: 530px;
        margin-right: 400px;
    }
    @media screen and (max-width:480px){
      
      .fix3items
      {
        flex-direction: column;
        row-gap: 5rem;
      }
      
    }



    @media screen and (max-width:300px){
      
      .f1img
      {
        flex-direction: column;
        row-gap: 5rem;
      }
    
    }

    
    